In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("jiji_car_dataset.csv")
df.head(20)

,title,make,model,year,condition,transmission,price
0,Lexus RX 350 FWD 2013 White,Lexus,RX,NaN,foreign used,automatic,"₦ 25,500,000"
1,Lexus RX 300 2003 Green,Lexus,RX,NaN,local used,automatic,"₦ 4,400,000"
2,Volkswagen Tiguan S 4Motion 2010 White,Volkswagen,Tiguan,NaN,local used,automatic,"₦ 7,300,000"
3,Toyota Hilux 2020 White,Toyota,Hilux,2020.0,foreign used,automatic,"₦ 66,000,000"
4,Toyota Camry LE V6 4dr Sedan (3.5L 6cyl 6AM) 2...,Toyota,Camry,NaN,foreign used,automatic,"₦ 8,600,000"
5,Mercedes-Benz GLK-Class 350 4MATIC 2013 Red,NaN,NaN,NaN,foreign used,automatic,"₦ 24,000,000"
6,Honda Accord Crosstour 2012 White,Honda,Accord,NaN,local used,automatic,"₦ 6,700,000"
7,Mercedes-Benz GLE-Class GLE 350 2016 Black,NaN,NaN,NaN,local used,automatic,"₦ 33,000,000"
8,Toyota Sienna LE 4WD 2007 Gold,Toyota,Sienna,NaN,foreign used,automatic,"₦ 9,150,000"
9,Lexus RX 350 2010 Silver,Lexus,RX,NaN,local used,automatic,"₦ 16,800,000"
10,Toyota Hilux 2019 Gray,Toyota,Hilux,2019.0,local used,automatic,"₦ 55,000,000"
11,Hyundai Grandeur 2020,Hyundai,Grandeur,2020.0,foreign used,automatic,"₦ 57,000,000"
12,Honda Accord 2007 Gold,Honda,Accord,2007.0,local used,automatic,"₦ 3,680,000"
13,Toyota Sienna LE Mobility FWD 2019 Silver,Toyota,Sienna,NaN,foreign used,automatic,"₦ 17,500,000"
14,Mercedes-Benz GLE-Class GLE 350 2016 Black,NaN,NaN,NaN,foreign used,automatic,"₦ 38,800,000"
15,Volkswagen Jetta SE 2011 Brown,Volkswagen,Jetta,NaN,local used,automatic,"₦ 6,000,000"
16,Toyota Sienna 2014 Brown,Toyota,Sienna,2014.0,foreign used,automatic,"₦ 17,400,000"
17,Toyota Camry XLE 4dr Sedan (2.5L 4cyl 6A) 2013...,Toyota,Camry,NaN,local used,automatic,"₦ 10,999,999"
18,Toyota Yaris Base Hatchback 5dr 2010 Blue,Toyota,Yaris,NaN,foreign used,manual,"₦ 6,000,000"
19,Hyundai Sonata Base w/2.7L V6 2003 Silver,Hyundai,Sonata,NaN,local used,automatic,"₦ 4,000,000"